<!DOCTYPE html>
<html>
<head>
	<title>Weather App</title>
	<style type="text/css">
		body
		{
			background: linear-gradient(to right,orange,red);
		}
		div
		{
			max-width: 50%;
		    min-width: 50%;
			width: 50%;	
			float: left;
		}
		img{
			width: 50%;
			border-radius: 25%;
			box-shadow: 0 20px 40px rgba(0,0,0,0.5);
		}
		h1
		{
			margin-top: 15%;
		}
		form{
			background-color: white;
			width: 50%;
			margin: auto;
			margin-top: 15%;
			box-shadow: 0 20px 40px rgba(0,0,0,0.5);	
			height: 400px;
		}
	</style>
</head>
<body>
<div>
	<form method="POST">
		<br><br>
		<center>
		<h3>Enter City Name</h3>	
		<input type="text" name="city"><br><br>
		<input type="submit" name="submit">
		</center>
		<br><br>	
	</form>
</div>
<div>
	<center>
	
	<h1>Weather Information</h1>
	<img src="https://cdn.worldvectorlogo.com/logos/weather-ios.svg">
<!-- <img src="https://www.imh.com.sg/uploadedImages/Common/VisitIMH1.jpg"> -->
	</center>
</div>

</body>
</html>